<p id="notice"><%= notice %></p>

<h1>SHOUTS</h1>

<table>
  <thead>
    <tr>
      <th>Yells</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shouts.each do |shouts| %>
      <tr>
        <td><%= shouts.yell %></td>
      </tr>
    <% end %>
  </tbody>
</table>
